body {
    font-family: Roboto, sans-serif;
    margin: 0;
    min-height: 100vh;
}

ul{
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 16px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB
}

button {
    display: flex;
    flex-shrink: 0;
    border-radius: 8px;
    padding: 8px 36px;
    color: #E5E7EB;
    background-color: #3882F6;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 8px;
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8
}

.hero-text {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2937;
    padding: 120px;
    
}

.hero-left {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    align-items: center;
    padding: 12px; 
    margin: 12px;
}

.hero-main {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
}

.hero-secondary, .fake-image {
    font-size: 18px;
    color:#E5E7EB;
    margin: 8px;
}

.grayson {
    display: flex;
    height: 300px;
    width: auto;
}